@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lobster", sans-serif;
    scroll-behavior: smooth;
    
}
header{
  font-weight: 600;
  background-color: #fbb9b6;
  font-size: 1.3em;
}
.footer{
  background-color: #fbb9b6;
}
.footer i{
  color: #000;
}

/* Homepage intro */
.intro-svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.intro-svg svg {
  position: relative;
  display: block;
  width: calc(122% + 1.3px);
  height: 298px;
}
.intro {
  height: 90vh;
  background-image: url('images/intro.png');
  background-size: cover;
}

.intro-svg .shape-fill {
  fill: #FFF5EE;
}

/* Profile section */
.profilesec{
  background-color: #FFF5EE;
}
/* loading */
.spinner{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background-color: rgb(154, 153, 153);
}
a{
    text-decoration: none;
    color: black;
}
/* Profile card */
.pcard {
    width: 280px;
    height: 280px;
    background: white;
    border-radius: 32px;
    padding: 3px;
    position: relative;
    box-shadow: #261e1e40 0px 0px 30px 0px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
  
  .pcard .mail {
    position: absolute;
    right: 2rem;
    top: 1.4rem;
    background: transparent;
    border: none;
  }
  
  .pcard .mail i {
    color: #fbb9b6;
  }
  
  .pcard .mail i:hover {
    color: #f55d56;
  }
  
  .pcard .profile-pic {
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    top: 3px;
    left: 3px;
    border-radius: 29px;
    z-index: 1;
    border: 0px solid #fbb9b6;
    overflow: hidden;
    transition: all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
  }
  
  .pcard .profile-pic img {
    -o-object-fit: cover;
    object-fit: fill;
    width: 100%;
    height: 100%;
    -o-object-position: 0px 0px;
    object-position: 0px 0px;
    transition: all 0.5s ease-in-out 0s;
  }
  
  .pcard .bottom {
    position: absolute;
    bottom: 3px;
    left: 3px;
    right: 3px;
    background: #fbb9b6;
    top: 80%;
    border-radius: 29px;
    z-index: 2;
    box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px inset;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }
  
  .pcard .bottom .content {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 1.5rem;
    right: 1.5rem;
    height: 160px;
  }
  
  .pcard .bottom .content .name {
    display: block;
    font-size: 1.1rem;
    color: black;
    font-weight: 600;
  }
  
  .pcard .bottom .content .about-me {
    display: block;
    font-size: 0.9rem;
    color: black;
    margin-top: 1rem;
  }
  
  .pcard .bottom .bottom-bottom {
    position: absolute;
    bottom: 0.8rem;
    left: 1.5rem;
    right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .pcard .bottom .bottom-bottom .social-links-container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .pcard .bottom .bottom-bottom .social-links-container i {
    color: white;
    filter: drop-shadow(0 5px 5px rgba(165, 132, 130, 0.1333333333));
  }
  
  .pcard .bottom .bottom-bottom .social-links-container i:hover {
    color: #f55d56;
    transform: scale(1.2);
  }
  
  .pcard .bottom .bottom-bottom .button {
    font-weight: bold;
    background: white;
    color: #fbb9b6;
    border: none;
    border-radius: 20px;
    font-size: 0.7rem;
    padding: 0.4rem 0.6rem;
    box-shadow: rgba(165, 132, 130, 0.1333333333) 0px 5px 5px 0px;
  }
  
  .pcard .bottom .bottom-bottom .button:hover {
    background: #f55d56;
    color: white;
  }
  
  .pcard:hover {
    border-top-left-radius: 55px;
  }
  
  .pcard:hover .bottom {
    top: 20%;
    border-radius: 80px 29px 29px 29px;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
  }
  
  .pcard:hover .profile-pic {
    width: 100px;
    height: 100px;
    aspect-ratio: 1;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    z-index: 3;
    border: 7px solid #fbb9b6;
    box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px;
    transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
  }
  
  .pcard:hover .profile-pic:hover {
    transform: scale(1.3);
    border-radius: 0px;
  }
  
  .pcard:hover .profile-pic img {
    transform: scale(2.5);
    -o-object-position: 0px 25px;
    object-position: 0px 25px;
    transition: all 0.5s ease-in-out 0.5s;
  }
  /* Loading Page */
  .typing-indicator {
    width: 60px;
    height: 30px;
    position: relative;
    z-index: 4;
  }
  
  .typing-circle {
    width: 8px;
    height: 8px;
    position: absolute;
    border-radius: 50%;
    background-color: #000;
    left: 15%;
    transform-origin: 50%;
    animation: typing-circle7124 0.5s alternate infinite ease;
  }
  
  @keyframes typing-circle7124 {
    0% {
      top: 20px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }
  
    40% {
      height: 8px;
      border-radius: 50%;
      transform: scaleX(1);
    }
  
    100% {
      top: 0%;
    }
  }
  
  .typing-circle:nth-child(2) {
    left: 45%;
    animation-delay: 0.2s;
  }
  
  .typing-circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: 0.3s;
  }
  
  .typing-shadow {
    width: 5px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 30px;
    transform-origin: 50%;
    z-index: 3;
    left: 15%;
    filter: blur(1px);
    animation: typing-shadow046 0.5s alternate infinite ease;
  }
  
  @keyframes typing-shadow046 {
    0% {
      transform: scaleX(1.5);
    }
  
    40% {
      transform: scaleX(1);
      opacity: 0.7;
    }
  
    100% {
      transform: scaleX(0.2);
      opacity: 0.4;
    }
  }
  
  .typing-shadow:nth-child(4) {
    left: 45%;
    animation-delay: 0.2s;
  }
  
  .typing-shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: 0.3s;
  }
  /* Learn more button */
  .lbutton {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
  }
  
  .lbutton.learn-more {
    width: 12rem;
    height: auto;
  }
  
  .lbutton.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    box-shadow: 0 0 5px 1px white;
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
  }
  
  .lbutton.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
  }
  
  .lbutton.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }
  
  .lbutton.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
  }
  
  .lbutton.learn-more .button-text {
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #fff;
    font-weight: 600;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
  }
  
  .lbutton:hover .circle {
    width: 100%;
    box-shadow: 0 0 10px 2px white;
  }
  
  .lbutton:hover .button-text {
    transform: translate(-1.7rem, 0);
  }
  
  .lbutton:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(8.7rem, 0);
  }
  
  .lbutton:active .circle .icon.arrow {
    transform: translate(9.5rem, 0);
    transition: all 0.3s;
  }
  
  .lbutton:active .circle {
    transform: scale(0.9);
    transition: all 0.3s;
    box-shadow: 0 0 5px 0.5px white;
  }
  
  .lbutton:hover .button-text {
    color: #fff;
  }
  
  .lbutton:active .button-text {
    color: rgba(255, 255, 255, 0.459);
  }